{% extends 'WynajemAdminBundle::base.html.twig' %}

{% set pageTitle = post.id is null ? 'Dodawanie nowego wpisu' : 'Edycja wpisu "%s"'|format(post.title) %}

{% block pageTitle %}
    {{ pageTitle }}
{% endblock %}

{% block content %}

    <section role="main" class="content-body">
        <header class="page-header">
            <h2>{{ pageTitle }} </h2>
        </header>
        {% if app.session.flashBag.has('success') or app.session.flashBag.has('error') %}
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        {% for success in app.session.flashBag.get('success') %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                <strong>Sukces!</strong> {{ success }}
                            </div>
                        {% endfor %}

                        {% for error in app.session.flashBag.get('error') %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                <strong>Błąd!</strong> {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                {{ pageTitle }}
                            </h2>
                        </div>
                        <div class="panel-body">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="panel-body">
                            <h4>Artykuł</h4>
                            {{ form_row(form.content) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Akcje
                                </div>
                                <div class="panel-body">
                                    {{ form_row(form.save) }}
                                </div>
                            </div>
                        </div> <!-- .col-md-12 -->

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Miniaturka
                                </div>
                                <div class="panel-body">
                                    {% if post.thumbnail is null %}
                                        <p>Brak miniaturki</p>
                                    {% else %}
                                        <p><img src="{{ asset(post.thumbnail) }}" alt="" class="img-thumbnail"></p>
                                    {% endif %}
                                    {{ form_widget(form.thumbnailFile) }}
                                    {{ form_errors(form.thumbnailFile) }}
                                </div>
                            </div>
                        </div> <!-- .col-md-12 -->
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Właściwości
                                </div>
                                <div class="panel-body">
                                    {{ form_row(form.publishedDate, {'label_length': 5, 'wrapper_length': 7}) }}
                                </div>
                            </div>
                        </div> <!-- .col-md-12 -->

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Taksonomie
                                </div>
                                <div class="panel-body">
                                    {{ form_row(form.category, {'label_length': 2, 'wrapper_length': 5, 'attr': {'class': 'select-block'}}) }}
                                    {{ form_row(form.tags, {'label_length': 2, 'wrapper_length': 5, 'attr': {'class': 'select-block'}}) }}
                                </div>
                            </div>
                        </div> <!-- .col-md-12 -->
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
    </div>
{% endblock %}