{% extends 'WynajemBlogBundle::base.html.twig' %}
{% set hideSidebar = true %}
{% block pageTitle %} Cennik {{ parent() }} {% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/wynajemblog/assets/vendor/select2/select2.css') }}"/>
    <link rel="stylesheet"
          href="{{ asset('bundles/wynajemblog/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }}"/>
{% endblock %}

{% block content %}
    <div role="main" class="main">
        <section class="body">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Cennik</h1>
                        </div>
                    </div>
                </div>
            </section>
            <div class="inner-wrapper container">

                <hr class="tall">
                <!-- start: sidebar -->
                <!-- end: sidebar -->

                <section role="main" class="content-body">
                    <h3>Cennik</h3>
                    <!-- start: page -->

                    <section class="panel">
                        <header class="panel-heading">

                            <h2 class="panel-title">Filtracja</h2>
                        </header>
                        <div class="panel-body">
                            <form action="{{ path('blog_prices') }}" method="get"
                                  class="form-inline filter-search limit" role="form">
                                <div class="form-group">
                                    <input type="text" name="titleLike" value="{{ queryParams['titleLike'] }}" class="form-control" placeholder="Wyszukaj po tytule">
                                </div>

                                <div class="form-group">
                                    <select name="categoryId" class="select-block form-control" placeholder="Kategoria" onchange="this.form.submit()">
                                        <option {{ -2 == queryParams['categoryId'] ? 'selected="selected"':'Wszystkie kategorie' }} value="-2">Wszystkie kategorie</option>
                                        <option {{ -1 == queryParams['categoryId'] ? 'selected="selected"':'' }} value="-1">Brak kategorii</option>
                                        {% for category in categoriesList %}
                                            <option {{ category['id'] == queryParams['categoryId'] ? 'selected="selected"':'' }} value="{{ category['id'] }}">{{ category['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary">Filtruj</button>
                                </div>

                                <div class="form-group pull-right limit">
                                    <label for="inputEmail1" class="col-lg-5 control-label">Wyników</label>
                                    <div class="col-lg-7">
                                        <select name="limit" class="select-block form-control" id="limit" placeholder="Pokaż" onchange="this.form.submit()">
                                            {% for limit in limits %}
                                                <option {{ currLimit == limit ? 'selected="selected"':'' }} value="{{ limit }}">
                                                    {{ limit }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills pull-left">
                                {% for key,val in statusesList %}
                                    <li {{ currStatus == val ? 'class="active"':'' }}>
                                        <a href="{{ path('blog_prices', {'status': val}) }}">
                                            {{ key }} ({{ statistics[val] }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="clearfix"></div>


                            <table class="table table-bordered table-striped mb-none" id="datatable-details">




                                <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'p.name') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Kategoria', 'c.id') }}</th>
                                    <th>Tagi</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Data dodania', 'p.addDate') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Cena za godzine', 'p.priceForHour') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Cena za dobe', 'p.priceForDay') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Dostępność', 'p.available') }}</th>
                                </tr>
                                </thead>

                                <tbody>


                                {% for product in pagination %}

                                    <tr>
                                        <td>
                                            <a href="{{ path('blog_product', {'slug': product.slug}) }}" style="color: grey">
                                                {{ product.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if product.category is null %}
                                                brak kategorii
                                            {% else %}
                                                <a href="{{ path('blog_category', {'slug': product.category.slug}) }}" style="color: grey">
                                                    {{ product.category.name|capitalize }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for tag in product.tags %}
                                                <span class="label label-info">{{ tag.name }}</span>
                                            {% else %}
                                                Brak tagów
                                            {% endfor %}

                                        </td>
                                        <td>
                                            {{ product.addDate|admin_format_date }}
                                        </td>
                                        <td>{{ product.priceForHour }}</td>
                                        <td>{{ product.priceForDay }}</td>
                                        <td>
                                            {% if product.available == true %}
                                                Dostępny
                                            {% else %}
                                                Niedostępny
                                            {% endif %}
                                        </td>
                                    </tr>

                                {% else %}
                                    <tr>
                                        <td colspan="8">Brak dopasowanych produktów</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {{ knp_pagination_render(pagination, 'WynajemAdminBundle:Pagination:admin_pagination.html.twig') }}

                    </section>
                    <!-- end: page -->
                </section>
            </div>
        </section>

    </div>


{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('bundles/wynajemblog/assets/vendor/select2/select2.js') }}"></script>#}
    {#<script src="{{ asset('bundles/wynajemblog/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js') }}s"></script>#}
    {#<script src="{{ asset('bundles/wynajemblog/assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js') }}"></script>#}
    {#<script src="{{ asset('bundles/wynajemblog/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js') }}"></script>#}

    {#<script src="{{ asset('bundles/wynajemblog/assets/javascripts/tables/examples.datatables.default.js') }}"></script>#}
    {#<script src="{{ asset('bundles/wynajemblog/assets/javascripts/tables/examples.datatables.row.with.details.js') }}"></script>#}
{% endblock %}