{% extends 'WynajemAdminBundle::base.html.twig' %}

{% set pageTitle = 'Usuwanie kategorii' %}
{% block pageTitle %}
    Usuwanie kategorii "{{ category.name }}"
{% endblock %}

{% block content %}
    <section role="main" class="content-body">
    <header class="page-header">
        <h2>{{ pageTitle }} </h2>
    </header>

    {% if app.session.flashBag.has('success') or app.session.flashBag.has('error') %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% for success in app.session.flashBag.get('success') %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            <strong>Sukces!</strong> {{ success }}
                        </div>
                    {% endfor %}

                    {% for error in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            <strong>Błąd!</strong> {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Usuwanie kategorii "{{ category.name }}"
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, {'action': path('admin_categoryDelete', {'id': category.id})}) }}
                        {{ form_row(form.newCategory, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}
                        <div class="col-md-offset-3">
                            {{ form_row(form.setNull) }}
                        </div>
                        {{ form_row(form.submit, {'attr': {'class': 'pull-right'}}) }}
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div> <!-- .panel -->
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
{% endblock %}